body {
    background: white;
    text-align: center;
}


.topnav {
    float: none;
    color: black;
    text-align: center;
    font-size: medium;
    background-color: grey;
    width: fit-content;
    display: inline-block;
}

.topnav a:hover {
    background-color: blue;
    color: blueviolet;
}

.topnav a.active {
    font-weight: bold;
    color: red;
}