body {
    background: white;
    text-align: center;
}


.topnav {
    float: none;
    color: black;
    text-align: center;
    font-size: medium;
    background-color: grey;
    width: fit-content;
    display: inline-block;
}

.topnav a:hover {
    background-color: blue;
    color: blueviolet;
}

.topnav a.active {
    font-weight: bold;
    color: red;
}

h2 {
    text-decoration: underline;
}
#movies {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#movies td {
    width: 25%;
}

#movies th {
    text-decoration: underline;
}